body {
  padding: 25px;
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: 16px;
}

table, th, td {
  border: 1px solid white;
  padding: 5px;
}

.dark-mode {
  background-color: white;
  color: black;
}

.content-container {
    margin-left: 16rem;
    padding: 1rem;
}

/* ------- SIDEBAR ------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    text-align: center;
    background-color: teal;
    color: white;
}

#logo-container {
  margin: 5px;
}

.social-logo {
  margin: 5px;
  height: 35px;
  width: auto;
}

/* ------- CV ------ */

#cv-heading {
  color: #00ff95;
}